.form-content {
  padding: 32px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  height: 100vh;
  background-color: var(--contrast);
}

.form-content h1 {
  font-size: 36px;
  font-weight: bold;
}

.form-content form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-content .form-error {
  color: var(--error);
}

.form-content .input-text {
  background: none;
  border: none;
  border-bottom: 2px solid var(--border);
  font-size: 20px;
  padding: 8px;
  outline: none;
  color: white;
  transition: 0.2s linear border-color;
}
.form-content .input-text::placeholder {
  color: var(--primary-light);
  transition: 0.2s linear color;
}
.form-content .input-text:active, .form-content .input-text:focus {
  border-bottom-color: var(--border-accent);
}
.form-content .input-text:active::placeholder, .form-content .input-text:focus::placeholder {
  color: var(--accent-light);
}

.form-content input[type=submit] {
  align-self: start;
}

.form-content footer {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .form-content {
    width: 500px;
    padding-top: 32px;
    height: 640px;
  }

  .form-page {
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 25%;
  }
}
