/*======================================
PAGE LAYOUT
======================================*/

.recipes-page {
  padding: 200px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipes-page h1 {
  padding: 0 32px;
  font-size: 36px;
  font-weight: bold;
}

.footer {
  margin: 0 32px;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .recipes-page {
    padding: 0;
  }
  .recipes-page h1 {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--border);
  }

  .recipes-main {
    flex-grow: 1;
  }
}





/*======================================
RECENT RECIPES
======================================*/

.recipes-recent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 32px;
}

.recipes-recent h2 {
  font-size: 15px;
  color: var(--primary-light);
}

.recent-list {
  display: flex;
  gap: 8px;
  overflow: auto;
}

.recent-item {
  display: block;
  border: solid 2px hsl(var(--tag-hue), 100%, 85%);
  border-radius: 1000px;
  overflow: clip;
  width: 48px;
  height: 48px;
}
.recent-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .recipes-recent {
    padding: 8px 0;
  }
  .recipes-recent h2 {
    font-size: 20px;
  }
  .recent-item {
    width: 64px;
    height: 64px;
  }
}





/*======================================
RECIPE CARDS
======================================*/

.recipes-list {
  display: flex;
  flex-direction: column;
}
.recipes-list > :not(:first-child) {
  border-top: solid 2px var(--border);
}

.recipe-item {
  padding: 8px 32px;
  display: flex;
  gap: 8px;
  height: min-content;
  align-items: center;
  text-decoration: none;
}
.recipe-item-link {
  flex-grow: 1;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--primary);
  text-decoration: none;
}

.recipe-thumbnail {
  height: 48px;
  width: 48px;
}
.recipe-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.recipe-content h2 {
  font-size: 15px;
}
.recipe-content > p {
  display: none;
}
.recipe-item-tags {
  display: flex;
  gap: 4px;
}

.recipe-item-overflow {
  color: var(--primary);
  font-size: 24px;
}

@media only screen and (min-width: 600px) {
  .recipes-list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: stretch;
    padding-top: 16px;
  }

  .recipes-list > :not(:first-child) {
    border: solid 2px var(--border);
  }

  .recipe-item {
    border: solid 2px var(--border);
    border-radius: 8px;
    background-color: var(--contrast-dark);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    height: 100%;

    position: relative;

    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

  .recipe-item-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    width: 100%;
  }

  .recipe-item:hover {
    border-color: var(--accent);
    transform: scale(1.02, 1.02);
  }

  .recipe-thumbnail {
    height: 140px;
    width: 100%;
    position: relative;
    overflow: clip;
    border-radius: 8px 8px 0 0;
  }
  .recipe-thumbnail::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--contrast-dark), rgba(0,0,0,0));
    opacity: 0.5;
  }

  .recipe-content {
    width: 100%;
    gap: 8px;
    padding: 8px;
  }

  .recipe-content > h2 {
    font-size: 20px;
  }
  
  .recipe-content > p {
    display: block;
    font-size: 15px;
    color: var(--primary-light);
    line-height: 1.2em;
  }

  .recipe-item .recipe-item-overflow {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}





/*======================================
SEARCHBAR
======================================*/

.recipes-search {
  display: none;
  flex-direction: column-reverse;
  gap: 16px;
}
.recipes-search[data-toolbar] {
  display: flex;
  padding: 16px 32px;
  gap: 8px;
  flex-direction: column;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(20px); }
}

.tag-filters-container {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  position: relative;
  align-items: center;
}
.tag-filters-clear {
  display: none;
  background: none;
  border: none;
  color: var(--primary-light);
  padding: 0;
  font-size: 16px;
  position: absolute;
}
.tag-filters-clear[data-show=true] {
  display: block;
}
.tag-filters {
  display: flex;
  gap: 8px;
  transition: transform 0.2s ease-in-out;
  transform: translateX(0);
}
.tag-filters-clear[data-show=true] + .tag-filters {
  transform: translateX(20px);
}
.tag-filters .recipe-tag {
  opacity: 50%;
}
.tag-filters .recipe-tag:hover {
  opacity: 70%;
}
.tag-filters .recipe-tag.active {
  opacity: 100%;
}

.recipes-search-flow {
  display: flex;
  gap: 8px;
}
.searchfield-container {
  flex-grow: 1;
  position: relative;
  max-width: 500px;
}
[data-toolbar] .searchfield-container {
  max-width: none;
}
.searchfield-clear {
  position: absolute;
  right: 8px;
  top: 0;
  bottom: 0;
  color: var(--primary-light);
  background: none;
  border: none;
  display: none;
}
.searchfield-clear[data-show=true] {
  display: block;
}
[data-toolbar] .searchfield {
  width: 100%;
  background-color: var(--border);
  border-radius: 1000px;
  padding: 4px 16px;
  border: none;
  color: var(--primary);
  font-size: 15px;
}
[data-toolbar] .searchfield::placeholder {
  color: var(--primary-light) !important;
}

.recipe-new {
  color: var(--primary-light);
  background: none;
  border: none;
  font-size: 24px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0;
}

.searchfield {
  background: none;
  border: none;
  border-bottom: 2px solid var(--border);
  font-size: 20px;
  padding: 8px;
  outline: none;
  color: white;
  transition: 0.2s linear border-color;
  width: 100%;
}
.searchfield::placeholder {
  color: var(--primary-light);
  transition: 0.2s linear color;
}
.searchfield:active, .searchfield:focus {
  border-bottom-color: var(--border-accent);
}
.searchfield:active::placeholder, .searchfield:focus::placeholder {
  color: var(--accent-light);
}

@media only screen and (min-width: 600px) {
  .recipes-search[data-toolbar] {
    display: none;
  }
  .recipes-search {
    display: flex;
  }
}
